<section>
    <div class="container p-5">
        <div class="form-container shadow ">
            <h1 class="text-center mb-5">Add Medal</h1>
            <form [formGroup]="addMedal" (ngSubmit)="handelForm()">
                <div class="form-group">
                    <label for="MedalAchievementDate" class="form-label">data of championship *</label>
                    <input type="date" class="form-control" formControlName="MedalAchievementDate" id="MedalAchievementDate">
                    <div class="alert alert-danger mt-1" *ngIf="addMedal.get('MedalAchievementDate')?.errors && (addMedal.get('MedalAchievementDate')?.touched ||addMedal.get('MedalAchievementDate')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addMedal.get('MedalAchievementDate')?.getError('required')">birthOfDate is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="championshipID" class="form-label">championship  *</label>
                    <select class="form-control" formControlName="championshipID" id="championshipID" name="championshipID" >
                        <option value="" disabled selected >Select championship</option>
                        <option [value]="item.id" *ngFor="let item of nameArray">{{"Name : "+item.name +" Type of championship: "+item.typeOfChampionship + " Gender: "+ item.gender}}</option>
                        <!-- <option value="Association2">Association 2</option> -->
                        <!-- <option value="Association3">Association 3</option> -->
                        <!-- Add more options as needed -->
                    </select>
                    
                    <div class="alert alert-danger mt-1" *ngIf="addMedal.get('championshipID')?.errors && (addMedal.get('championshipID')?.touched ||addMedal.get('championshipID')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addMedal.get('championshipID')?.getError('required')">championship is required</p>
                    </div>
                </div>
                <div class="form-group" >
                    <label for="year" class="form-label">year *</label>
                    <input type="number" min="1900" max="2100" class="form-control" formControlName="year" id="year">
                    <div class="alert alert-danger mt-1" *ngIf="addMedal.get('year')?.errors && (addMedal.get('year')?.touched ||addMedal.get('year')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addMedal.get('year')?.getError('required')">height is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isWin" class="form-label">Is Win *</label>
                    <input type="checkbox"  formControlName="isWin" id="isWin">
                </div>
                <div class="form-group" *ngIf="addMedal.get('isWin')?.value">
                    <label for="typeOfMedal" class="form-label">type Of Medal *</label>
                    <select class="form-control" formControlName="typeOfMedal" id="typeOfMedal" name="typeOfMedal" >
                        <option value="" disabled selected >Select type of medal</option>
                        <option value="gold">gold</option>
                        <option value="Silver">Silver</option>
                        <option value="bronze">bronze</option>
                        <!-- Add more options as needed -->
                    </select>
                    
                    <div class="alert alert-danger mt-1" *ngIf="addMedal.get('typeOfMedal')?.errors && (addMedal.get('typeOfMedal')?.touched ||addMedal.get('typeOfMedal')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addMedal.get('typeOfMedal')?.getError('required')">type of championship is required</p>
                    </div>
                </div>
                <div class="button w-100  ">
                    <button type="submit" class="btn btn-dark" [disabled]="addMedal.invalid">Add Madel <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
                    <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
                </div>
            </form>
        </div>
    </div>
</section>


