<section>
    <div class="container p-5">
        <div class="form-container shadow ">
            <h1 class="text-center mb-5">Edit Represntor Account</h1>
            <form [formGroup]="editRepresntor" (ngSubmit)="handelForm()">
                <div class="form-group">
                    <label for="firstname" class="form-label">Full Name *</label>
                    <input [(ngModel)]="model.name" type="text" class="form-control" formControlName="name" id="name" name="name">
                    <div class="alert alert-danger mt-1" *ngIf="editRepresntor.get('name')?.errors && (editRepresntor.get('name')?.touched ||editRepresntor.get('name')?.value.length>0) ">
                        <p class="m-0 " *ngIf="editRepresntor.get('name')?.getError('required')">name is required</p>
                        <p class="m-0 " *ngIf="editRepresntor.get('name')?.getError('minlength')">name minLength 4</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email *</label>
                    <input [(ngModel)]="model.email" type="email" class="form-control" formControlName="email" id="email" name="email" >
                    <div class="alert alert-danger mt-1" *ngIf="editRepresntor.get('email')?.errors && (editRepresntor.get('email')?.touched ||editRepresntor.get('email')?.value.length>0) ">
                        <p class="m-0 " *ngIf="editRepresntor.get('email')?.getError('required')">email is required</p>
                        <p class="m-0 " *ngIf="editRepresntor.get('email')?.getError('email')">email is invalid </p>
                    </div>
                </div>
                <div class="button w-100  ">
                    <button type="submit" class="btn btn-dark main-btn" [disabled]="editRepresntor.invalid">Edit Account <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
                    <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
                </div>
                
            </form>
        </div>
    </div>
</section>