<section>
    <div class="container p-5">
        <div class="form-container shadow ">
            <h1 class="text-center mb-5">Edit Association</h1>
            <form [formGroup]="editAssociation" (ngSubmit)="handelForm()">
                <div class="form-group">
                    <label for="firstname" class="form-label">Association Name *</label>
                    <input [(ngModel)]="model.associationName" type="text" class="form-control" formControlName="associationName" id="associationName" name="associationName">
                    <div class="alert alert-danger mt-1" *ngIf="editAssociation.get('name')?.errors && (editAssociation.get('name')?.touched ||editAssociation.get('name')?.value.length>0) ">
                        <p class="m-0 " *ngIf="editAssociation.get('name')?.getError('required')">name is required</p>
                        <p class="m-0 " *ngIf="editAssociation.get('name')?.getError('minlength')">name minLength 4</p>
                    </div>
                </div>
                <div class="button w-100  ">
                    <button type="submit" class="btn btn-dark main-btn" [disabled]="editAssociation.invalid">Edit Association <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
                    <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
                </div>
                
            </form>
        </div>
    </div>
</section>