body {
    background-color: #f8f9fa;
  }

  .container {
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }




  .form-row {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  .custom-file-label::after {
    content: "Browse";
  }

  .custom-file .custom-file-control:lang(en)::after {
    content: "Browse";
  }

  .custom-file-input {
    color: transparent;
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    content: 'Select Image';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  form input:focus,form select:focus {
      border: 1px solid #0a0b0c57;
      box-shadow: 0px 0px 0px 4px #444a5364;
      border-radius: 5px;
    }

    label{
      margin-bottom: 10px;
    }

    input::placeholder{
      color: #000000bc;
    }
    .custom-file-upload {
      border: 1px solid #ced4da;
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 0.25rem;
      right: -50px;
      position: absolute;
      bottom: -10px;
    }
    .file-upload-wrapper {
      position: relative;
    }

     button:disabled{
      cursor: not-allowed!important;
      border: 0px solid #0000009e !important;
      background-color:  #0000009e;
      color: #ffffff78;
    }

    .cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:500px;
      height:350px;
    }