<section>
    <div class="container p-5">
        <div class="form-container shadow ">
            <h1 class="text-center mb-5">Edit Championship</h1>
            <form [formGroup]="editChampionship" (ngSubmit)="handelForm()">
                <div class="form-group">
                    <label for="firstname" class="form-label">Name of champion *</label>
                    <input [(ngModel)]="model.name" type="text" class="form-control" formControlName="name" id="firstname" name="firstname">
                    <div class="alert alert-danger mt-1" *ngIf="editChampionship.get('name')?.errors && (editChampionship.get('name')?.touched ||editChampionship.get('name')?.value.length>0) ">
                        <p class="m-0 " *ngIf="editChampionship.get('name')?.getError('required')">name is required</p>
                        <p class="m-0 " *ngIf="editChampionship.get('name')?.getError('pattern')">name is not valid</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="weight" class="form-label">weight *</label>
                    <input [(ngModel)]="model.weight" type="text" class="form-control" formControlName="weight" id="weight" name="weight">
                </div>
                <div class="form-group">
                    <label for="typeOfChampionship" class="form-label">type Of Championship *</label>
                    <select [(ngModel)]="model.typeOfChampionship" class="form-control" formControlName="typeOfChampionship" id="typeOfChampionship" name="typeOfChampionship" >
                        <option value="" disabled selected >Select type of championship</option>
                        <option value="International">International</option>
                        <option value="Continental">Continental</option>
                        <option value="Local">Local</option>
                        <!-- Add more options as needed -->
                    </select>
                    
                    <div class="alert alert-danger mt-1" *ngIf="editChampionship.get('typeOfChampionship')?.errors && (editChampionship.get('typeOfChampionship')?.touched ||editChampionship.get('typeOfChampionship')?.value.length>0) ">
                        <p class="m-0 " *ngIf="editChampionship.get('typeOfChampionship')?.getError('required')">type of championship is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="isYoungs" class="form-label">Is Young *</label>
                    <input [(ngModel)]="model.isYoungs" type="checkbox"  formControlName="isYoungs" id="isYoungs">
                </div>
                <div class="form-group" *ngIf="editChampionship.get('isYoungs')?.value">
                    <label for="age" class="form-label">Age *</label>
                    <input [(ngModel)]="model.age" type="number" class="form-control" formControlName="age" id="age">
                    <div class="alert alert-danger mt-1" *ngIf="editChampionship.get('age')?.errors && (editChampionship.get('age')?.touched || editChampionship.get('age')?.value)">
                        <p class="m-0 " *ngIf="editChampionship.get('age')?.getError('required')">Age is required</p>
                    </div>
                </div>
                <div class="button w-100  ">
                    <button type="submit" class="btn btn-dark main-btn" [disabled]="editChampionship.invalid">Edit Account <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
                    <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
                </div>
            </form>
        </div>
    </div>
</section>
