*{
    text-decoration: none;
    list-style: none;   
}
.img{
    width: 70px;
}
.section1{
    width: 324px;
    height: 77px;
    border-radius: 10px;
    padding-top: 10px;
}
.section1 h3{
    font-size: 25px;
    margin-left: 5px;
}
main{
   padding: 30px;
}
.ul-1{
    width: 409px;
}
.ul-1 li{
    margin-bottom:10px ;
    color: #ffffffd4;
}
.ul-2 li{
    margin-right:30px ;
    color: #ffffffae;
}
.ul-2 li a{
    color: #ffffff;
}
.main{
    position: relative;
    padding: 80px;
   border-bottom: 1px solid #ffffff5f;


}
.margin{
    width: 1200px;
    margin: auto;
}

.ul-3{
    color: #ffffffce;
    margin-top: 10px;
}
.ul-3 li{
    margin-right: 35px;

}
.margin p{
    color: #ffffffce;

}

