<main class="overflow-hidden bg-black">
    <div class="row margin  main">
        <div class="col-6  d-flex p-4 justify-content-center">
            <div class=" d-flex justify-content-center align-items-center bg-white section1">
                <div class="img">
                    <img class="w-100" src="../../../assets/logo.png" alt="">
                </div>
                <h3>Batal Masr</h3>
              
            </div>
        </div>
        <div class="col-6  ">
            <ul class="text-white ul-1">
                <li><i class="fa-solid fa-location-dot me-2"></i>345Faulconer Drive,Suite4 Charlottesville,CA,12345</li>
                <div class="d-flex justify-content-between mt-3">
                    <li><i class="fa-solid fa-phone  me-2"></i>0123456789</li>
                    <li><i class="fa-solid fa-print  me-2"></i>123569782</li>
                </div>

            </ul>

            <ul class="ul-2 d-flex">
                <li>Social Media</li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-threads"></i></a></li>
            </ul>
        </div>
    </div>
    
    <div class="row bottom margin text-white justify-content-between d-flex ul-3">
        <div class="col-9">
            <ul class="d-flex ul-3 p-0">
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>HELP</li>
                <li>PRIVACY POLICY</li>
                <li>DISCLAIMER</li>
            </ul>
        </div>
        <div class="col-3">
            <p>Copyright © 2018 Lift Media Inc.</p>
        </div>
        
    </div>
</main>
