<div class="container mb-5 w-50">
    <h1 class="text-center mb-5">Edit Player</h1>
    <form [formGroup]="editInfo" (ngSubmit)="handelForm()">
      <div class="row">
      <div class="form-group col-md-6  mb-3">
              <label for="inputName">Name *</label>
              <input type="text" [(ngModel)]="model.name" class="form-control" formControlName="name" id="inputName" placeholder="Enter your name">
              <div class="alert alert-danger mt-1" *ngIf="editInfo.get('name')?.errors && (editInfo.get('name')?.touched ||editInfo.get('name')?.value.length>0) ">
                  <p class="m-0 " *ngIf="editInfo.get('name')?.getError('required')">name is required</p>
                  <p class="m-0 " *ngIf="editInfo.get('name')?.getError('pattern')">name is not valid</p>
              </div>
      </div>
      <div class="form-group col-md-6 mb-3">
              <label for="inputBirthDate">Birth Date *</label>
              <input type="date" [(ngModel)]="model.birthOfDate" class="form-control" formControlName="birthOfDate" id="inputBirthDate">
              <div class="alert alert-danger mt-1" *ngIf="editInfo.get('birthOfDate')?.errors && (editInfo.get('birthOfDate')?.touched ||editInfo.get('birthOfDate')?.value.length>0) ">
                  <p class="m-0 " *ngIf="editInfo.get('birthOfDate')?.getError('required')">birthOfDate is required</p>
              </div>
      </div>
     
  
        <div class="form-group col-md-12 mb-3">
          <label for="inputHeight">Height (cm) *</label>
          <input type="number" [(ngModel)]="model.height" class="form-control" id="inputHeight" formControlName="height" placeholder="Enter your height">
          <div class="alert alert-danger mt-1" *ngIf="editInfo.get('height')?.errors && (editInfo.get('height')?.touched ||editInfo.get('height')?.value.length>0) ">
              <p class="m-0 " *ngIf="editInfo.get('height')?.getError('required')">height is required</p>
          </div>
        </div>
  
        <div class="form-group col-md-12 mb-3">
          <label for="inputWeight">Weight (kg) *</label>
          <input type="number" [(ngModel)]="model.weight" class="form-control" id="inputWeight" formControlName="weight" placeholder="Enter your weight">
          <div class="alert alert-danger mt-1" *ngIf="editInfo.get('weight')?.errors && (editInfo.get('weight')?.touched ||editInfo.get('weight')?.value.length>0) ">
              <p class="m-0 " *ngIf="editInfo.get('weight')?.getError('required')">weight is required</p>
          </div>
        </div>
      
        <div class="form-group col-md-12 mb-3">
          <label for="inputClub">Club *</label>
          <input type="text" [(ngModel)]="model.club" class="form-control" formControlName="club" id="inputClub" placeholder="Enter your club"> 
          <div class="alert alert-danger mt-1" *ngIf="editInfo.get('club')?.errors && (editInfo.get('club')?.touched ||editInfo.get('club')?.value.length>0) ">
              <p class="m-0 " *ngIf="editInfo.get('club')?.getError('required')">club is required</p>
            
          </div>
        </div>
        <div class="form-group  col-md-12 mb-3" >
            <label for="description" class="form-label">Description *</label>
            <textarea class="form-control" formControlName="description" id="Description" name="Description" rows="2" cols="100" placeholder="Enter your comments here..."></textarea>
            <div class="alert alert-danger mt-1" *ngIf="editInfo.get('description')?.errors && (editInfo.get('description')?.touched ||editInfo.get('description')?.value.length>0) ">
                <p class="m-0 " *ngIf="editInfo.get('description')?.getError('required')">description is required</p>
            </div>
        </div>
  </div>
      <button type="submit" class="btn btn-dark w-100" [disabled]="editInfo.invalid">Request To Edit <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
      <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
    </form>
  </div>
  
  
