<section>
    <div class="row  ">
        <div class="col-5">
            <div class="sec-1">
                <div class="logo bg-body">
                    <div class="logo-img ">
                        <img class="w-100" src="../../../assets/logo.png" alt="">
                    </div>
                    <h6 class="text-dark">Batal Masr</h6>
                </div>
                
            
            <div class="img">
            <img class="w-100 mt-5 mb-5 " src="../../../assets/player.png" alt="">
            </div>
            <h3 class="text-white">Hello, Friend</h3>
            </div>


        </div>
        <div class="col-7 sec-2">
            <div class="logo mt-5  w-100">
                <div class="logo-img ">
                    <img class="w-100" src="../../../assets/logo.png" alt="">
                </div>
                <h6 class="text-dark">Batal Masr</h6>
            </div>
            <div class="form ">
                <div class="container mt-5">
                    <h1 class="signin">Sign In</h1>
                    <form [formGroup]="login" (ngSubmit)="handelForm()">
                        <div class="input-field">
                            
                            <input type="email" id="email" formControlName="email" placeholder="Email" class="email form-control">
                            <div class="alert alert-danger mt-1" *ngIf="login.get('name')?.errors && (login.get('name')?.touched ||login.get('name')?.value.length>0) ">
                                <p class="m-0 " *ngIf="login.get('name')?.getError('required')">name is required</p>
                            </div>
                        </div>
                        <div class="input-field">
                            <input type="password" id="password" formControlName="password" placeholder="Password" class="password form-control">
                            <div class="alert alert-danger mt-1" *ngIf="login.get('name')?.errors && (login.get('name')?.touched ||login.get('name')?.value.length>0) ">
                                <p class="m-0 " *ngIf="login.get('name')?.getError('required')">name is required</p>
                            </div>
                        </div>
                        <div class="checkbox">
                            <a href="#">Forgot your password?</a>
                        </div>
                        <div class="button  d-flex justify-content-center mt-4">
                        <button class="signin" type="submit" [disabled]="login.invalid">Sign In</button>
                        </div>
                        <p class="errMessage" *ngIf="errMessage">{{errMessage}}</p>
                        <p class="mt-4">Don't have an account? <a href="#" class="signup">Sign Up!</a></p>
                    </form>
                </div>
            </div>
          
        </div>
    </div>
</section>