<!-- <section> -->
    <!-- <div class="container p-5"> -->
        <!-- <div class="form-container shadow "> -->
            <!-- <h1 class="text-center mb-5">Create Represntor Account</h1> -->
            <!-- <form [formGroup]="addRepresntor" (ngSubmit)="handelForm()"> -->
                <!-- <div class="form-group"> -->
                    <!-- <label for="firstname" class="form-label">Full Name *</label> -->
                    <!-- <input type="text" class="form-control" formControlName="name" id="firstname" name="firstname" > -->
                    <!-- <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('name')?.errors && (addRepresntor.get('name')?.touched ||addRepresntor.get('name')?.value.length>0) "> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('name')?.getError('required')">name is required</p> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('name')?.getError('minlength')">name minLength 4</p> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <!-- <label for="email" class="form-label">Email *</label> -->
                    <!-- <input type="email" class="form-control" formControlName="email" id="email" name="email" > -->
                    <!-- <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('email')?.errors && (addRepresntor.get('email')?.touched ||addRepresntor.get('email')?.value.length>0) "> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('email')?.getError('required')">email is required</p> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('email')?.getError('email')">email is invalid </p> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <!-- <label for="password" class="form-label">Password *</label> -->
                    <!-- <input type="password" class="form-control" formControlName="password" id="password" name="password" > -->
                    <!-- <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('password')?.errors && (addRepresntor.get('password')?.touched ||addRepresntor.get('password')?.value.length>0) "> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('password')?.getError('required')">password is required</p> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('password')?.getError('pattern')">password must be at least 6 character </p> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="form-group"> -->
                    <!-- <label for="association" class="form-label">Association Name *</label> -->
                    <!-- <input type="tel" class="form-control" formControlName="association" id="association" name="association" > -->
                    <!-- <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('association')?.errors && (addRepresntor.get('association')?.touched ||addRepresntor.get('association')?.value.length>0) "> -->
                        <!-- <p class="m-0 " *ngIf="addRepresntor.get('association')?.getError('required')">association is required</p> -->
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="button w-100  "> -->
                    <!-- <button type="submit" class="btn btn-dark ">Creat Account</button> -->
                    <!-- <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p> -->
                <!-- </div> -->
                <!--  -->
            <!-- </form> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </section> -->


<section>
    <div class="container p-5">
        <div class="form-container shadow ">
            <h1 class="text-center mb-5">Create Representative Account</h1>
            <form [formGroup]="addRepresntor" (ngSubmit)="handelForm()">
                <div class="form-group">
                    <label for="firstname" class="form-label">Full Name *</label>
                    <input type="text" class="form-control" formControlName="name" id="firstname" name="firstname">
                    <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('name')?.errors && (addRepresntor.get('name')?.touched ||addRepresntor.get('name')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addRepresntor.get('name')?.getError('required')">name is required</p>
                        <p class="m-0 " *ngIf="addRepresntor.get('name')?.getError('minlength')">name minLength 4</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email *</label>
                    <input type="email" class="form-control" formControlName="email" id="email" name="email">
                    <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('email')?.errors && (addRepresntor.get('email')?.touched ||addRepresntor.get('email')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addRepresntor.get('email')?.getError('required')">email is required</p>
                        <p class="m-0 " *ngIf="addRepresntor.get('email')?.getError('email')">email is invalid </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Password *</label>
                    <input type="password" class="form-control" formControlName="password" id="password" name="password">
                    <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('password')?.errors && (addRepresntor.get('password')?.touched ||addRepresntor.get('password')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addRepresntor.get('password')?.getError('required')">password is required</p>
                        <p class="m-0 " *ngIf="addRepresntor.get('password')?.getError('pattern')">password must be at least 6 character </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="association" class="form-label">Association Name *</label>
                    <select class="form-control" formControlName="association" id="association" name="association">
                        <option value="" disabled selected >Select Association</option>
                        <option value="kora">Kora</option>
                        <option value="Association2">Association 2</option>
                        <option value="Association3">Association 3</option>
                        <!-- Add more options as needed -->
                    </select>
                    <!-- Error handling for association -->
                    <div class="alert alert-danger mt-1" *ngIf="addRepresntor.get('association')?.errors && (addRepresntor.get('association')?.touched ||addRepresntor.get('association')?.value.length>0) ">
                        <p class="m-0 " *ngIf="addRepresntor.get('association')?.getError('required')">Association is required</p>
                    </div>
                </div>
                <div class="button w-100  ">
                    <button type="submit" class="btn btn-dark">Create Account</button>
                    <p class="alert alert-danger p-1 ms-0 mt-2 w-50" *ngIf="errMessage">{{errMessage}}</p>
                </div>
            </form>
        </div>
    </div>
</section>
