<div class="container-fluid user-list-page bg-body-tertiary mt-2">
    <h1 class="text-center text-dark  p-4">Assosiation List</h1>
    <input type="text" placeholder="Search..." class="form-control w-75 m-auto  mb-5" [(ngModel)]="term">

    <div class="row g-5">
        <div class="col-md-3">
            <div class="add-user-card  bg-transparent ">
                <div class="icon mb-5 mt-5"><i class="fa-solid fa-user-plus text-dark"></i></div>
                <button class="btn btn-dark" routerLink="/addAssosiation">ADD ASSOCIATION</button>
            </div>
        </div>
        <div class="col-md-3 " *ngFor="let agent of allAgents|repfilter:term| paginate: { id: 'foo', itemsPerPage: 7, currentPage: p, totalItems: total}">
            <div class="user-card shadow" [routerLink]="['/showMember', agent.associationName]">
                <div class="icon w-100 m-auto">
                <img src="../../../assets/assoc.png" alt="User Profile Picture">
                </div>
                <div class="data">
                    <h2>{{agent.name}}</h2>
                    <br>
                <p><span class="fw-bold">Association Name: </span>{{agent.associationName}} </p>
                    <br>
                    <div class="buttons d-flex flex-column">
                        <button class="btn btn-secondary mb-3"  [routerLink]="['/updataAssosiation',agent.associationID]">EDIT REPRESNTOR</button>
                        <button class="btn showMember mb-3" >SHOW MEMBER</button>
                        <button class="btn btn-danger" (click)="deleteAgent(agent.associationID)">DELETE REPRESNTOR</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <pagination-controls class="pagination-controls text-center" id="foo"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next">
  </pagination-controls>
</div>